@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  /* background-color: black; */
/* background: url('./assets/images/CAR4.0.avif') no-repeat; */
background: url('https://oyster.ignimgs.com/mediawiki/apis.ign.com/grand-theft-auto-5/1/1e/GTAV.PS4.1080.UN_TT.HD_SCREENCAPS.1.jpg') no-repeat;
 background-size: cover;
background-position: center;
/* height: 100vh; */ 

}


a{
  text-decoration: none;
  
}